/* css styles */

img.logo {
            width: 150px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
        }
        
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

